aside{
	border: 2px solid #E2E2E2;
	text-align: left;
	padding: 5px;
}

section#contenedor{
	margin: 5px auto;
	padding: 0;
	text-align: center;
}

section#principal, aside{
	border-radius: 5px;
	display: inline-block;
	min-height: 200px;
	vertical-align: top;
}

article{
	border-radius: 5px;
	min-height: 150px;
	padding: 5px;
}


@media(min-width: 1080px){
	section#contenedor{
		width: 95%;
	}
	section#principal{
		width: 65%;
	}
	aside{
		width: 20%;
	}
}

@media(max-width: 1024px){
	aside{
		width: 25%;
	}
	section#principal{
		width: 70%;
	}
}

@media(max-width: 768px){

	section#principal{
		width: 60%;
	}
	aside{
		width: 30%;
	}
}

@media(max-width: 568px){

	section#principal{
		width: 98%;
	}
	aside{
		width: 90%;
	}
}

@media(max-width: 240px){

	section#principal{
		width: 268px;
		padding: 0px;
	}
	aside{
		width: 258px;
	}
}

